/* style.css */
body {
    background-color: black;
    color: white;
}


.grand-titre {
    font-size: 36px;
    color: #ece3e3;
    font-weight: bold;
    margin-top: 50px; /* Espace au-dessus du titre */
    text-align: center;
}

.centered-iframe {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: 150px; /* bech n7abtoh */
}

.flourish-embed.flourish-survey2 { margin: 0 auto; }
